<div
  class="toast bg-transparent toast-center toast-top"
  [class.hidden]="notificationService.notifications().length === 0"
>
  @for (notification of notificationService.notifications(); track $index) {
    <div
      role="alert"
      class="alert flex flex-col w-70"
      [class.alert-error]="notification.type === 'Error'"
      [class.alert-success]="notification.type === 'Success'"
    >
      @if (notification) {
        <div class="flex flex-row justify-between w-full">
          <div class="flex flex-col text-base-content">
            <span class="font-bold">{{ notification?.title }}</span>
            <span class="text-xs">{{ notification?.message }}</span>
          </div>

          <button
            class="btn btn-circle btn-xs btn-ghost text-base-content hover:text-error"
            (click)="notificationService.removeNotification(notification.id!)"
          >
            X
          </button>
        </div>
      }
    </div>
  }
</div>
