<div class="h-fit">
  <header class="bg-blue-900 text-white shadow-lg flex justify-center">
    <div class="w-full xl:w-[60%] p-8">
      <div class="text-center w-full relative">
        <!-- Logo -->
        <div class="w-fit absolute left-0 h-full flex flex-col justify-center">
          <img src="./logo-uniube.webp" alt="Logo" class="h-20" />
        </div>
        <!-- Título -->
        <div class="flex flex-col text-center">
          <h1 class="text-4xl font-bold">Sistema TISS</h1>
          <p class="text-xl text-slate-200">Guia de Solicitação de Internação</p>

          <div class="text-md text-slate-300 hidden md:block">
            <p>Feito Por: Joaquim Brasiliano Gonçalves, Nicolas Catelan, Sarah Mota Silva</p>
            <p>Orientador: Maxwell Gomes da Silva</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="flex flex-col items-center">
    <form [formRoot]="this.guiaForm" class="flex flex-col gap-5 p-4 w-full xl:max-w-[60%]">
      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">Dados da Operadora</div>
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="registroAns" class="text-[11px] font-bold uppercase text-gray-600">
              1 - Registro ANS
            </label>
            <input
              [formField]="guiaForm.operadora!.registro_ans!"
              type="text"
              id="registroAns"
              placeholder="000000"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-9 border-b border-gray-400 p-2">
            <label for="nomeOperadora" class="text-[11px] font-bold uppercase text-gray-600">
              Nome da Operadora
            </label>
            <input
              [formField]="guiaForm.operadora!.nome_operadora!"
              type="text"
              id="nomeOperadora"
              placeholder="Nome da operadora"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-5 border-r border-b border-gray-400 p-2">
            <label for="numeroGuiaPrestador" class="text-[11px] font-bold uppercase text-gray-600">
              2 - Número da guia no prestador
            </label>
            <input
              [formField]="guiaForm.numero_guia_prestador!"
              type="text"
              id="numeroGuiaPrestador"
              placeholder="Digite o número da guia"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-7 border-b border-gray-400 p-2">
            <label for="numeroGuiaOperadora" class="text-[11px] font-bold uppercase text-gray-600">
              3 - Número da guia atribuído pela operadora
            </label>
            <input
              [formField]="guiaForm.numero_guia!"
              type="text"
              id="numeroGuiaOperadora"
              placeholder="Número atribuído pela operadora"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
            <label for="dataAutorizacao" class="text-[11px] font-bold uppercase text-gray-600">
              4 - Data da autorização
            </label>
            <input
              [formField]="guiaForm.data_autorizacao!"
              type="date"
              id="dataAutorizacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
            <label for="senha" class="text-[11px] font-bold uppercase text-gray-600">
              5 - Senha
            </label>
            <input
              [formField]="guiaForm.senha_autorizacao!"
              type="text"
              id="senha"
              placeholder="Senha da autorização"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-b border-gray-400 p-2">
            <label for="dataValidadeSenha" class="text-[11px] font-bold uppercase text-gray-600">
              6 - Data de validade da senha
            </label>
            <input
              [formField]="guiaForm.data_validade_senha!"
              type="date"
              id="dataValidadeSenha"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>
        </div>
      </section>

      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">
          Dados do Beneficiário
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-5 border-r border-b border-gray-400 p-2">
            <label for="numeroCarteira" class="text-[11px] font-bold uppercase text-gray-600">
              7 - Número da carteira
            </label>
            <input
              [formField]="guiaForm.beneficiario!.numero_carteira!"
              type="text"
              id="numeroCarteira"
              placeholder="Número da carteira do beneficiário"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="validadeCarteira" class="text-[11px] font-bold uppercase text-gray-600">
              8 - Validade da carteira
            </label>
            <input
              type="date"
              id="validadeCarteira"
              name="validadeCarteira"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="atendimentoRn" class="text-[11px] w-full font-bold uppercase text-gray-600">
              9 - Atendimento a RN
            </label>
            <input
              [formField]="guiaForm.beneficiario!.atendimento_rn!"
              id="atendimentoRn"
              type="checkbox"
              class="mt-1 h-5 w-5 w-full"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-b border-gray-400 p-2">
            <label for="dataNascimento" class="text-[11px] font-bold uppercase text-gray-600">
              Data de nascimento
            </label>
            <input
              [formField]="guiaForm.beneficiario!.data_nascimento!"
              type="date"
              id="dataNascimento"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-8 border-r border-b border-gray-400 p-2">
            <label for="nomeBeneficiario" class="text-[11px] font-bold uppercase text-gray-600">
              10 - Nome do beneficiário
            </label>
            <input
              [formField]="guiaForm.beneficiario!.nome!"
              type="text"
              id="nomeBeneficiario"
              placeholder="Digite o nome do beneficiário"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-b border-gray-400 p-2">
            <label for="cartaoNacionalSaude" class="text-[11px] font-bold uppercase text-gray-600">
              11 - Cartão Nacional de Saúde (CNS)
            </label>
            <input
              [formField]="guiaForm.beneficiario!.cns!"
              type="text"
              id="cartaoNacionalSaude"
              placeholder="Número do CNS"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>
        </div>
      </section>

      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">
          Dados do Contratado Solicitante
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="codigoContratado" class="text-[11px] font-bold uppercase text-gray-600">
              12 - Código na operadora
            </label>
            <input
              [formField]="guiaForm.executante!.codigo_na_operadora!"
              type="text"
              id="codigoContratado"
              placeholder="Código do contratado"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-6 border-r border-b border-gray-400 p-2">
            <label for="nomeContratado" class="text-[11px] font-bold uppercase text-gray-600">
              13 - Nome do contratado solicitante
            </label>
            <input
              [formField]="guiaForm.solicitante!.nome_contratado!"
              type="text"
              id="nomeContratado"
              placeholder="Nome do contratado solicitante"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-b border-gray-400 p-2">
            <label for="cnesSolicitante" class="text-[11px] font-bold uppercase text-gray-600">
              CNES do solicitante
            </label>
            <input
              [formField]="guiaForm.solicitante!.cnes_solicitante!"
              type="text"
              id="cnesSolicitante"
              placeholder="Código CNES"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-6 border-r border-b border-gray-400 p-2">
            <label
              for="nomeProfissionalSolicitante"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              14 - Nome do profissional solicitante
            </label>
            <input
              [formField]="guiaForm.solicitante!.nome_profissional!"
              type="text"
              id="nomeProfissionalSolicitante"
              placeholder="Nome do profissional solicitante"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="conselhoProfissional" class="text-[11px] font-bold uppercase text-gray-600">
              15 - Conselho
            </label>
            <input
              [formField]="guiaForm.solicitante!.conselho!"
              type="text"
              id="conselhoProfissional"
              placeholder="CRM"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="numeroConselho" class="text-[11px] font-bold uppercase text-gray-600">
              16 - Número no conselho
            </label>
            <input
              [formField]="guiaForm.solicitante!.numero_conselho!"
              type="text"
              id="numeroConselho"
              placeholder="Número do registro"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-1 border-r border-b border-gray-400 p-2">
            <label for="ufConselho" class="text-[11px] font-bold uppercase text-gray-600">
              17 - UF
            </label>
            <input
              [formField]="guiaForm.solicitante!.uf_conselho!"
              type="text"
              id="ufConselho"
              placeholder="MG"
              class="w-full text-lg font-semibold uppercase outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-1 border-b border-gray-400 p-2">
            <label for="codigoCbo" class="text-[11px] font-bold uppercase text-gray-600">
              18 - CBO
            </label>
            <input
              [formField]="guiaForm.solicitante!.cbo!"
              type="text"
              id="codigoCbo"
              placeholder="225125"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>
        </div>
      </section>

      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">
          Dados do Hospital / Local Solicitado / Dados de Internação
        </div>
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="codigoOperadoraCnpj" class="text-[11px] font-bold uppercase text-gray-600">
              19 - Código na operadora / CNPJ
            </label>
            <input
              [formField]="guiaForm.executante!.codigo_na_operadora!"
              type="text"
              id="codigoOperadoraCnpj"
              placeholder="CNPJ ou código"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-6 border-r border-b border-gray-400 p-2">
            <label for="nomeHospitalLocal" class="text-[11px] font-bold uppercase text-gray-600">
              20 - Nome do hospital / local
            </label>
            <input
              [formField]="guiaForm.executante!.nome_contratado!"
              type="text"
              id="nomeHospitalLocal"
              placeholder="Nome do hospital ou local"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-b border-gray-400 p-2">
            <label
              for="dataSugeridaInternacao"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              21 - Data sugerida para internação
            </label>
            <input
              type="date"
              id="dataSugeridaInternacao"
              name="dataSugeridaInternacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="caraterAtendimento" class="text-[11px] font-bold uppercase text-gray-600">
              22 - Caráter do atendimento
            </label>
            <select
              [formField]="guiaForm.carater_atendimento!"
              id="caraterAtendimento"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="1">Eletivo</option>
              <option value="2">Urgência</option>
            </select>
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="tipoInternacao" class="text-[11px] font-bold uppercase text-gray-600">
              23 - Tipo de internação
            </label>
            <select
              [formField]="guiaForm.tipo_atendimento!"
              id="tipoInternacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="01">Clínica</option>
              <option value="02">Cirúrgica</option>
              <option value="03">Obstétrica</option>
              <option value="04">Pediátrica</option>
              <option value="05">Psiquiátrica</option>
            </select>
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="regimeInternacao" class="text-[11px] font-bold uppercase text-gray-600">
              24 - Regime de internação
            </label>
            <select
              id="regimeInternacao"
              name="regimeInternacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="1">Hospitalar</option>
              <option value="2">Hospital-dia</option>
              <option value="3">Domiciliar</option>
            </select>
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="qtdeDiarias" class="text-[11px] font-bold uppercase text-gray-600">
              25 - Qtde de diárias
            </label>
            <input
              type="number"
              id="qtdeDiarias"
              name="qtdeDiarias"
              min="1"
              max="999"
              placeholder="00"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
            <label for="usoOpme" class="text-[11px] font-bold uppercase text-gray-600">
              26 - Previsão de uso de OPME
            </label>
            <select
              id="usoOpme"
              name="usoOpme"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="S">Sim</option>
              <option value="N">Não</option>
            </select>
          </div>

          <div class="col-span-12 md:col-span-2 border-b border-gray-400 p-2">
            <label for="usoQuimioterapico" class="text-[11px] font-bold uppercase text-gray-600">
              27 - Previsão de quimioterápico
            </label>
            <select
              id="usoQuimioterapico"
              name="usoQuimioterapico"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="S">Sim</option>
              <option value="N">Não</option>
            </select>
          </div>

          <div class="col-span-12 border-b border-gray-400 p-2">
            <label for="indicacaoClinica" class="text-[11px] font-bold uppercase text-gray-600">
              28 - Indicação clínica
            </label>
            <textarea
              [formField]="guiaForm.indicacao_clinica!"
              id="indicacaoClinica"
              rows="4"
              placeholder="Digite a indicação clínica"
              class="w-full text-lg font-semibold outline-none resize-none bg-transparent"
            ></textarea>
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="cid10Principal" class="text-[11px] font-bold uppercase text-gray-600">
              29 - CID10 Principal (Opcional)
            </label>
            <input
              [formField]="guiaForm.cid_principal!"
              type="text"
              id="cid10Principal"
              placeholder="A000"
              class="w-full text-lg font-semibold uppercase outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="cid10Secundario" class="text-[11px] font-bold uppercase text-gray-600">
              30 - CID10 (2) (Opcional)
            </label>
            <input
              [formField]="guiaForm.cid_secundario!"
              type="text"
              id="cid10Secundario"
              placeholder="A000"
              class="w-full text-lg font-semibold uppercase outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="cid10Terceiro" class="text-[11px] font-bold uppercase text-gray-600">
              31 - CID10 (3) (Opcional)
            </label>
            <input
              type="text"
              id="cid10Terceiro"
              name="cid10Terceiro"
              maxlength="4"
              placeholder="A000"
              class="w-full text-lg font-semibold uppercase outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-b border-gray-400 p-2">
            <label for="cid10Quarto" class="text-[11px] font-bold uppercase text-gray-600">
              32 - CID10 (4) (Opcional)
            </label>
            <input
              type="text"
              id="cid10Quarto"
              name="cid10Quarto"
              maxlength="4"
              placeholder="A000"
              class="w-full text-lg font-semibold uppercase outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 border-b border-gray-400 p-2">
            <label for="indicacaoAcidente" class="text-[11px] font-bold uppercase text-gray-600">
              33 - Indicação de acidente (acidente ou doença relacionada)
            </label>
            <select
              id="indicacaoAcidente"
              name="indicacaoAcidente"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="0">Não relacionado</option>
              <option value="1">Acidente de trânsito</option>
              <option value="2">Acidente de trabalho</option>
              <option value="3">Outros acidentes</option>
            </select>
          </div>
        </div>
      </section>

      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">
          Procedimentos ou Itens Assistenciais Solicitados
        </div>
        <div class="grid grid-cols-12">
          @if (this.guiaResult?.procedimentos && this.guiaResult!.procedimentos!.length > 0) {
            @for (procedimento of this.guiaResult?.procedimentos; track $index; let idx = $index) {
              <div class="col-span-12 md:col-span-1 border-r border-b border-gray-400 p-2">
                <label
                  [for]="'tabelaReferencia-' + idx"
                  class="text-[11px] font-bold uppercase text-gray-600"
                >
                  34 - Tabela
                </label>
                <input
                  type="text"
                  [id]="'tabelaReferencia-' + idx"
                  maxlength="2"
                  value="22"
                  class="w-full text-lg font-semibold outline-none bg-transparent"
                />
              </div>

              <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
                <label
                  [for]="'codigoProcedimento-' + idx"
                  class="text-[11px] font-bold uppercase text-gray-600"
                >
                  35 - Código do procedimento
                </label>
                <input
                  type="text"
                  [value]="procedimento.codigo_tuss"
                  [id]="'codigoProcedimento-' + idx"
                  maxlength="10"
                  placeholder="Código TUSS"
                  class="w-full text-lg font-semibold outline-none bg-transparent"
                />
              </div>

              <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
                <label
                  [for]="'descricaoProcedimento-' + idx"
                  class="text-[11px] font-bold uppercase text-gray-600"
                >
                  36 - Descrição
                </label>
                <input
                  type="text"
                  [value]="procedimento.descricao"
                  [id]="'descricaoProcedimento-' + idx"
                  maxlength="150"
                  placeholder="Descrição do procedimento"
                  class="w-full text-lg font-semibold outline-none bg-transparent"
                />
              </div>

              <div class="col-span-12 md:col-span-2 border-r border-b border-gray-400 p-2">
                <label
                  [for]="'qtdeSolicitada-' + idx"
                  class="text-[11px] font-bold uppercase text-gray-600"
                >
                  37 - Qtde Solic
                </label>
                <input
                  type="number"
                  [value]="procedimento.quantidade"
                  [id]="'qtdeSolicitada-' + idx"
                  min="0"
                  max="999"
                  class="w-full text-lg font-semibold outline-none bg-transparent"
                />
              </div>

              <div class="col-span-12 md:col-span-2 border-b border-gray-400 p-2">
                <label
                  [for]="'qtdeAutorizada-' + idx"
                  class="text-[11px] font-bold uppercase text-gray-600"
                >
                  38 - Qtde Aut
                </label>
                <input
                  type="number"
                  [value]="procedimento.quantidade"
                  [id]="'qtdeAutorizada-' + idx"
                  min="0"
                  max="999"
                  class="w-full text-lg font-semibold outline-none bg-transparent"
                />
              </div>
            }
          } @else {
            <div class="col-span-12 p-4">
              <p class="text-sm text-gray-500">Nenhum procedimento identificado!</p>
            </div>
          }
        </div>
      </section>

      <section class="border border-gray-400 bg-white">
        <div class="bg-blue-900 text-white font-bold px-3 py-2 uppercase">Dados da Autorização</div>
        <div class="grid grid-cols-12">
          <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
            <label for="dataAdmissao" class="text-[11px] font-bold uppercase text-gray-600">
              39 - Data provável da admissão hospitalar
            </label>
            <input
              type="date"
              id="dataAdmissao"
              name="dataAdmissao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
            <label
              for="qtdeDiariasAutorizadas"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              40 - Qtde diárias autorizadas
            </label>
            <input
              type="number"
              id="qtdeDiariasAutorizadas"
              name="qtdeDiariasAutorizadas"
              min="0"
              max="999"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-4 border-b border-gray-400 p-2">
            <label for="tipoAcomodacao" class="text-[11px] font-bold uppercase text-gray-600">
              41 - Tipo da acomodação autorizada
            </label>
            <select
              id="tipoAcomodacao"
              name="tipoAcomodacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            >
              <option value="">-</option>
              <option value="1">Individual</option>
              <option value="2">Coletivo</option>
            </select>
          </div>

          <div class="col-span-12 md:col-span-4 border-r border-b border-gray-400 p-2">
            <label
              for="codigoOperadoraAutorizada"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              42 - Código na operadora / CNPJ autorizado
            </label>
            <input
              [formField]="guiaForm.executante!.codigo_na_operadora!"
              type="text"
              id="codigoOperadoraAutorizada"
              placeholder="Código autorizado"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-5 border-r border-b border-gray-400 p-2">
            <label for="hospitalAutorizado" class="text-[11px] font-bold uppercase text-gray-600">
              43 - Nome do hospital / local autorizado
            </label>
            <input
              [formField]="guiaForm.executante!.nome_contratado!"
              type="text"
              id="hospitalAutorizado"
              placeholder="Hospital autorizado"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-b border-gray-400 p-2">
            <label for="codigoCnes" class="text-[11px] font-bold uppercase text-gray-600">
              44 - Código CNES
            </label>
            <input
              [formField]="guiaForm.executante!.cnes_executante!"
              type="text"
              id="codigoCnes"
              placeholder="Código CNES"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 border-b border-gray-400 p-2">
            <label
              for="observacaoJustificativa"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              45 - Observação / Justificativa
            </label>
            <textarea
              id="observacaoJustificativa"
              name="observacaoJustificativa"
              maxlength="1000"
              rows="4"
              placeholder="Digite observações ou justificativas"
              class="w-full text-lg font-semibold outline-none resize-none bg-transparent"
            ></textarea>
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label for="dataSolicitacao" class="text-[11px] font-bold uppercase text-gray-600">
              46 - Data da solicitação
            </label>
            <input
              [formField]="guiaForm.data_solicitacao!"
              type="date"
              id="dataSolicitacao"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label
              for="assinaturaProfissional"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              47 - Assinatura do profissional solicitante
            </label>
            <input
              type="text"
              id="assinaturaProfissional"
              name="assinaturaProfissional"
              placeholder="Nome ou assinatura"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-r border-b border-gray-400 p-2">
            <label
              for="assinaturaBeneficiario"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              48 - Assinatura do beneficiário ou responsável
            </label>
            <input
              type="text"
              id="assinaturaBeneficiario"
              name="assinaturaBeneficiario"
              placeholder="Nome ou assinatura"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>

          <div class="col-span-12 md:col-span-3 border-b border-gray-400 p-2">
            <label
              for="assinaturaAutorizacao"
              class="text-[11px] font-bold uppercase text-gray-600"
            >
              49 - Assinatura do responsável pela autorização
            </label>
            <input
              type="text"
              id="assinaturaAutorizacao"
              name="assinaturaAutorizacao"
              placeholder="Nome ou assinatura"
              class="w-full text-lg font-semibold outline-none bg-transparent"
            />
          </div>
        </div>
      </section>

      <div class="flex justify-end pb-4">
        <button class="btn btn-info bg-blue-900" (click)="baixarJSON()">Baixar JSON</button>
      </div>
    </form>
  </div>
</div>
