@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'guia-hospitalar';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: #f7f8fa;
  --color-base-200: #f2f2f2;
  --color-base-300: #e4e4e4;
  --color-base-content: #18181b;
  --color-primary: oklch(68% 0.169 237.323);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(71% 0.143 215.221);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(71% 0.143 215.221);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
